<!-- extend base layout -->
{% extends "sb-admin/master.html" %}
{% from "sb-admin/macros/ui/panels/app.html" import app %}

{% block body %}

{% for key, value in admin_view.apps.iteritems() %}
{% if "GUI" not in key and "gui" not in key %}
{{app(key, value['status'], value['config'], value['status'])}}
{% endif %}
{% endfor %}


{% endblock %}


{% block tail %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
namespace = '';
var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

$(".btn-activate").click(function(){

      socket.emit('activate', { appid: $(this).val() });
      location.reload();
   });

$(".btn-deactivate").click(function(){
  socket.emit('deactivate', { appid: $(this).val() });
  location.reload();

  });
</script>


{% endblock %}
