<!-- extend base layout -->
{% extends "sb-admin/master.html" %}

{% block body %}



<div class="panel panel-green">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa-sitemap fa-5x"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge" iddd='a'>Lancaster Network</div>
				<div>Alerts: 0 | Uptime: 34 days | Switches: 17 | Hosts: 340</div>
			</div>
		</div>
	</div>
	<a href="https://148.88.54.20:9090/tennison/">
		<div class="panel-footer">
			<span class="pull-left">Visit Subdomain https://148.88.54.20:9090/tennison/</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>

<div class="panel panel-red">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa-sitemap fa-5x"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge" iddd='a'>Glasgow Network</div>
				<div>Alerts: <b>42</b> | Uptime: 4 days | Switches: 7 | Hosts: 140</div>
			</div>
		</div>
	</div>
	<a href="https://45.56.120.15:9090/tennison/">
		<div class="panel-footer">
			<span class="pull-left">Visit Subdomain https://45.56.120.15:9090/tennison/</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>
<div class="panel panel-yellow">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa-sitemap fa-5x"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge" iddd='a'>Norwich Network</div>
				<div>Alerts: <b>15</b> | Uptime: 3 days | Switches: 6 | Hosts: 100</div>
			</div>
		</div>
	</div>
	<a href="https://180.80.54.14:9090/tennison/">
		<div class="panel-footer">
			<span class="pull-left">Visit Subdomain https://180.80.54.14:9090/tennison/</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>

<div class="panel panel-red">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa-sitemap fa-5x"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge" iddd='a'>Bristol Network</div>
				<div>Alerts: 47 | Uptime: 11 days | Switches: 14 | Hosts: 190</div>
			</div>
		</div>
	</div>
	<a href="https://95.8.23.95:9090/tennison/">
		<div class="panel-footer">
			<span class="pull-left">Visit Subdomain https://95.8.23.95:9090/tennison/</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>

<div class="panel panel-green">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa-sitemap fa-5x"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge" iddd='a'>Dublin Network</div>
				<div>Alerts: 0 | Uptime: 34 days | Switches: 7 | Hosts: 140</div>
			</div>
		</div>
	</div>
	<a href="https://52.8.55.3:9090/tennison/">
		<div class="panel-footer">
			<span class="pull-left">Visit Subdomain https://52.8.55.3:9090/tennison/</span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>

{% endblock %}
