{% macro thr_table(header, columns, rows, total_thresholds) %}
{% from "sb-admin/macros/dashboard/counticonsimple.html" import count_icon_simple %}
<div class="panel panel-default">
	<div class="panel-heading">
		{{header}}
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="dataTable_wrapper">
			<table class="table table-striped table-bordered table-hover" id="thresholds_table">
				<thead>
					<tr>
						{% for c in columns %}
							<th>{{c}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for r in rows %}
						{% set c = "odd" %}
						{% set grade = "gradeX" %}
						{% if loop.index % 2 == 1 %}
						{% set c = "even" %}
						{% endif %}
						<tr class="{{c}}">
							{% for d in r %}
								<td>{{d}}</td>
							{% endfor %}
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
		<div class="well">
			<h4>Total thresholds</h4>
			<div class="col-lg-4 col-md-6 col-sm-12">
				{{count_icon_simple(total_thresholds, "Total thresholds", "edit", "#", "total_thresholds")}}
			</div>

			<div style="clear:both"></div>
		</div>
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endmacro %}
